@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Lato Black";
    src: url("../fonts/lato-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Heavy";
    src: url("../fonts/lato-heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Semibold";
    src: url("../fonts/lato-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ChunkFive";
    src: url("../fonts/chunkfive.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site__content__wrap {
    position: relative;
    width: 304px;
    margin-bottom: 20px;
}
.site__content__item{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom: 3px solid #dbdbdb;
}
.site__title {
    position: relative;
    width: 100%;
    height: 32px;
    text-align: center;
    background: url(../img/title_bg.png);
    padding: 12px 0 0 0;
    font-size: 12px;
    margin-bottom: 5px;
    color: #727272;
    font-family: "Lato Semibold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    z-index: 3;
}
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'Lato', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 92px;
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: 200% 100%;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 3px;
    left: 50%;
    width: 195px;
    height: 88px;
    margin-left: -87px;
}
.logo img{
    display: block;
    width: 100%;
    height: auto;
}
/* --------------- /logo --------------- */
/* --------------- top-casinos --------------- */
.top-casinos{

}
.top-casinos__title{
    height: 31px;
    width: 100%;
    border:1px solid #dddddd;
    font-size: 12px;
    color: #7a7979;
    text-align: center;
    background-image: url('../img/');
}
/* --------------- /top-casinos --------------- */

/* --------------- follow-us --------------- */
.follow-us__title {
    font-family: "Lato Heavy", sans-serif;
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 2px;
    padding-top: 32px;
    overflow: hidden;
    text-shadow: 0 2px 3px #dc462d;
    text-transform: uppercase;
}
.follow-us__title span {
    position: relative;
    line-height: 30px;
}
.follow-us__title span:before {
    content: "";
    position: absolute;
    width: 1000px;
    top: 8px;
    height: 1px;
    right: 100%;
    margin-right: 6px;
    background: #cb0101;
}
.follow-us__title span:after {
    content: "";
    position: absolute;
    width: 1000px;
    top: 8px;
    height: 1px;
    left: 100%;
    margin-left: 6px;
    background: #cb0101;
}

.follow-us{
    position: relative;
    max-width: 934px;
    margin-bottom: 21px;
    padding: 0 2px;
}
.follow-us__wrap{
    display: block;
    text-align: center;
}
.follow-us__item{
    width: 151px;
    height: 155.5px;
    display: inline-block;
    margin: 0 2px 8px 2px;
    vertical-align: top;
}
.follow-us__pic{
   width: 100%;
    height: 100%;
}
/* --------------- /follow-us --------------- */

@media (min-width: 768px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 726px;
    }
    .site__content__item {
        padding: 12px 20px 20px 10px;
    }
    .site__title {
        margin-bottom: 0;
    }
    .site__header {
        height: 98px;
        background-size: 100% 100%;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 2px;
        left: 110px;
        width: 195px;
        height: 88px;
        margin-left: 0;
    }
    /* --------------- /logo --------------- */

    /* --------------- follow-us --------------- */
    .follow-us__item {
        width: 176px;
        height: 161px;
        margin: 0 3px 8px 3px;
    }
    .follow-us__title {
        font-size: 13px;
    }
    /* --------------- /follow-us --------------- */

}
@media (min-width: 960px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 763px;
    }
    .site__content__item {
        padding: 0 30px 100px 23px;
    }
    .site__title {
        height: 65px;
        font-size: 19px;
        padding-top: 27px;
    }
    .site__header {
        height: 183px;
        background-size: 125% 100%;
    }
    .site__header>div{
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 5px;
        left: 17px;
        width: 390px;
        height: 176px;
        margin-left: 0;
    }
    /* --------------- /logo --------------- */

    /* --------------- follow-us --------------- */
    .follow-us__item {
        width: 374px;
        height: 322px;
        margin: 0 7px 21px 7px;
    }
    .follow-us {
        margin-bottom: 7px;
    }
    .follow-us__title {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .follow-us__title span:before {
        top: 14px;
    }
    .follow-us__title span:after {
        top: 14px;
    }
    /* --------------- /follow-us --------------- */
}
@media (min-width: 1150px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 913px;
    }
    .site__content__item {
        padding: 13px 30px 120px 30px;
    }
    .site__title {
        font-size: 25px;
        padding-top: 21px;
    }
    .site__header {
        height: 197px;
        background-size: 100% 100%;
    }
    .site__header>div{
        width: 1150px;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 0;
        left: 0;
        width: 389px;
        height: 176px;
    }
    /* --------------- /logo --------------- */
    .follow-us__title {
        margin-bottom: 18px;
    }
    .follow-us__title span:before {
        top: 16px;
    }
    .follow-us__title span:after {
        top: 16px;
    }
    .follow-us__item {
        width: 216px;
        height: 311px;
        margin: 0 7px 29px 7px;
    }
}