@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Lato Black";
    src: url("../fonts/lato-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Heavy";
    src: url("../fonts/lato-heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Semibold";
    src: url("../fonts/lato-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ChunkFive";
    src: url("../fonts/chunkfive.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site__content__wrap {
    position: relative;
    width: 304px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.site__content__item{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom: 3px solid #dbdbdb;
}
.site__title {
    position: relative;
    width: 100%;
    height: 32px;
    text-align: center;
    background: url(../img/title_bg.png);
    padding: 12px 0 0 0;
    font-size: 12px;
    color: #727272;
    font-family: "Lato Semibold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    z-index: 3;
}
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'Lato', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 92px;
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: 200% 100%;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 3px;
    left: 50%;
    width: 195px;
    height: 88px;
    margin-left: -87px;
}
.logo img{
    display: block;
    width: 100%;
    height: auto;
}
/* --------------- /logo --------------- */
/* --------------- top-casinos --------------- */
.top-casinos{

}
.top-casinos__item{
    position: relative;
}
.top-casinos__head{
    display: none;
}
.top-casinos__item-logo{
    display: inline-block;
    position: relative;
    margin-right: 8px;
}
.top-casinos__item-logo img{
    width: 35px;
    vertical-align: top;
    margin-right: 6px;
    float: left;
}
.top-casinos__item-logo>h3{
    display: inline-block;
    font-size: 13px;
    padding-top: 5px;
    margin-bottom: 7px;
    color: #231f20;
    text-transform: none;
}
.top-casinos__score {

}
.top-casinos__rating{
    width: 43px;
    height: 8px;
    background: url("../img/score2.png") repeat-x top left;
    position: relative;
    margin: 0 0 5px;
    background-size: 9px 7px;
    display: inline-block;
    vertical-align: top;
}
.top-casinos__score-count {
    color: #bdbdbd;
    font-family: 'Flama-Bold', sans-serif;
    display: inline-block;
    font-size: 9px;
    margin-left: 3px;
    vertical-align: top;
}
.top-casinos__rating > div {
    background: url("../img/score1.png") repeat-x top left;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 8px;
    background-size: 9px 7px;
}
.country-flags{
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background: url(../img/bigsprite.png) no-repeat;
}
.top-casinos__item>div>span {
    text-transform: uppercase;
    color: #8b8b8b;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 118px;
    margin-right: 3px;
}
.top-casinos__item>div>div {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    color: #8b8b8b;
    text-align: center;
}
.top-casinos__item>div:first-child >span {
    margin-right: 0;
    color: #000;
    width: 15px;
    position: relative;
    top: -3px;
}
.top-casinos__item> div{
    margin-bottom: 12px;
    font-weight: bold;
}
.top-casinos__item> div:first-child{
    padding-top: 8px;
}
.top-casinos__item>div:first-child >div{
    margin-left: 6px;
}
.price{
    color: #231f20;
}
.systems{
    display: inline-block;
}
.systems>img{
    height: 23px;
    margin-right: 1px;
}
.top-casinos-compare img{
    height: 23px;
}
.top-casinos-rate img{
    height: 21px;
}
.top-casinos-software{
    color: #e16959;
    text-transform: none;
}

.top-casinos-play{
    position: absolute;
    width: 103px;
    top: 7px;
    right: -8px;
}
.top-casinos-play a{
    margin-bottom: 3px;
}
.top-casinos-games{
    padding-left: 5px;
}
.show-desktop{
    display: none;
}
/* --------------- /top-casinos --------------- */

/* --------------- btn --------------- */
.btn{
    width: 100px;
    text-align: center;
    padding-top: 3px;
    border-radius: 4px;
    height: 19px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
    background: #76a612;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    display: inline-block;
}
.btn:hover{
    background-color: #9ed726;
}
.btn_rev{
    background: #e8e3e3;
    color: #464648;
}
.btn_rev:hover{
    background-color: #efdada;
}
/* --------------- /btn --------------- */

@media (min-width: 768px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 726px;
        margin: 0 auto;
    }
    .site__content__item {
        padding: 12px 20px 20px 10px;
    }
    .site__title {
        margin-bottom: 0;
    }
    .site__header {
        height: 98px;
        background-size: 100% 100%;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 2px;
        left: 110px;
        width: 195px;
        height: 88px;
        margin-left: 0;
    }
    /* --------------- /logo --------------- */

    /* --------------- top-casinos --------------- */
    .top-casinos-games{
        padding-top: 0;
        padding-left: 14px;
    }
    .top-casinos__item-logo img {
        margin-right: 20px;
    }
    .top-casinos__item-logo {
        margin-right: 23px;
    }
    .top-casinos__item> div {
        margin-bottom: 13px;
    }
    .top-casinos__item>div>span {
        margin-right: 59px;
    }
    .top-casinos-play a {
        margin-bottom: 7px;
    }
    .btn {
        width: 107px;
        height: 22px;
    }
    .top-casinos-play {
        position: absolute;
        top: 7px;
        right: 7px;
    }
    /* --------------- /top-casinos --------------- */

}
@media (min-width: 960px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 763px;
    }
    .site__content__item {
        padding: 0 30px 100px 23px;
    }
    .site__title {
        height: 65px;
        font-size: 19px;
        padding-top: 27px;
    }
    .site__header {
        height: 183px;
        background-size: 125% 100%;
    }
    .site__header>div{
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 5px;
        left: 17px;
        width: 390px;
        height: 176px;
        margin-left: 0;
    }
    /* --------------- /logo --------------- */

    /* --------------- top-casinos --------------- */
    .top-casinos__head{
        display: block;
        height: 72px;
        padding-top: 28px;
    }
    .top-casinos__head>div{
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        color: #747474;
    }
    .top-casinos-number{
        width: 32px;
    }
    .top-casinos-country{
        width: 107px;
    }
    .top-casinos-casino{
        width: 106px;
    }
    .top-casinos-bonus{
        width: 88px;
    }
    .top-casinos-os{
        width: 191px;
    }
    .top-casinos__item>div>span{
        display: none;
    }
    .top-casinos__item> div {
        display: inline-block;
    }
    .top-casinos__item>div:first-child >span{
        display: inline-block;
        font-size: 18px;
        margin-right: 31px;
    }
    .top-casinos__item-logo>h3{
        display: none;
    }
    .top-casinos__item-logo {
        float: right;
        margin-right: 12px;
    }
    .top-casinos__item-logo img {
        width: 70px;
    }
    .country-flags {
        margin-right: 54px;
    }
    .show-mobile{
        display: none;
    }
    .show-desktop{
        display: block;
    }
    .top-casinos__rating {
        width: 93px;
        height: 16px;
        background-size: 19px 16px;
        margin-left: -11px;
        margin-top: 6px;
    }
    .top-casinos__rating > div {
        height: 16px;
        background-size: 19px 16px;
    }
    .price{
        display: block;
        font-size: 16px;
        margin-bottom: 6px;
    }
    .top-casinos__item>div>div {

    }
    .top-casinos-bonus-1{
        width: 90px;
        margin-right: 42px;
    }
    .systems>img {
        height: 30px;
    }
    .systems{
        width: 80px;
    }
    .top-casinos-compare img {
        height: 33px;
    }
    .top-casinos-rate img{
        height: 20px;
    }
    .top-casinos-software {
        width: 78px;
        display: block;
        font-size: 14px;
    }
    .btn {
        width: 92px;
        padding-top: 10px;
        height: 34px;
        font-size: 14px;
        border-radius: 7px;
    }
    .btn_rev{
        background: transparent;
        border: none;
        color: #464648;
        font-size: 11px;
        padding: 0;
        height: 10px;
    }
    .btn_rev:hover{
        background-color: transparent;
        color: #efdada;
    }
    .top-casinos-play a {
        margin-bottom: 1px;
    }
    /* --------------- /top-casinos --------------- */
}
@media (min-width: 1150px) {

    /* --------------- site --------------- */
    .site__content__wrap {
        width: 913px;
    }
    .site__content__item {
        padding: 13px 30px 120px 30px;
    }
    .site__title {
        font-size: 25px;
        padding-top: 21px;
    }
    .site__header {
        height: 197px;
        background-size: 100% 100%;
    }
    .site__header>div{
        width: 1150px;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 0;
        left: 0;
        width: 389px;
        height: 176px;
    }
    /* --------------- /logo --------------- */

}